
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0 ;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;   
    transition: color 0.3s;
}
html{
    scroll-behavior: smooth;
    
}

:root {
    --bg-color:   #000000;
    --text-color:  #ffffff;
    --link-color: blue;
}
.dark-mode {
    --bg-color: #ffffff;
    --text-color:  #000000;

}


/* start navbar */
header{
   
    background-color: var(--bg-color);
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
    position: fixed;
    z-index: 1000;
}

.logo img{
    display: flex;
    width: 30%;
    
    
}
.navbar{
     
     margin-left: 95px ;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    
}
.navbar li a{  
    color: var(--text-color);
    margin-right: #ffffffc5 ;
    padding: .6rem 1.5rem;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    
}
.navbar li a:hover{ 
    color:  var(--link-color);
}
.navbar .contact-style{
 background-color:  blue;
 border: 2px solid blue;
 color:  #ffffff;

}
.navbar .contact-style:hover{
   background-color:  #000000;
   color: #ffffffc5;
   
}
.dark-mode-toggle {
    
    background:  var(--link-color);
    padding: 2px 4px;
    border-radius: 20px;
    
}
.dark-mode-toggle img{
    
    width: 35px;
 
}


            /* end navbar */

                                          /* start home */
section{
    
    min-height: 100vh;
    padding: 2rem 9%;
    background-color: var(--bg-color); 
    width: 100%;
    
}
span{
    color: var(--link-color);
    
}

.Home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    

}

.content{
   display: flex;
   padding: 50px;
   flex-direction: column;
   font-weight: 500;

   
}

.content h1{
    font-size: 40PX;
    color: var(--text-color);
}

.content .baan {
    font-size: 25PX;
    margin:20px 30px;

}

.content p{
    margin-top: 30px;
    font-size: 20PX;
    color: var(--text-color);
      
}
.content .commant{
    margin-left: 150px;
}
.content ul{
    display: flex;
    list-style-type: none;
    margin: 50px;
    align-items: center;
}

.content ul li{
  display: flex;
  margin:50px 20px;
  padding: .6rem 0.3rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 255, 0.679);
  color: var(--text-color);
  

}
.content .numper{
    
    padding: 9px 15px;
    font-size: x-large;
}


             /* mijn foto */


.imag{
     display: flex;
     align-items: center;
     justify-content: center;


}
.imag img{
    min-height: 90vh;
    min-width: 50vh;
    border-radius: 20%;
    margin-left: 90px;
    
}
         /* end home */   
                         /* start about me */

.about-me{
    padding-top: 94px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    
}

.singel-about{
  margin: 50px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.ABOUT{
    font-size: x-large;
}

.raw p{
   margin-top: 3.5rem;
   font-size: 18px;
   width: 30rem;
   color: var(--text-color);
}

.cv a{
    background-color: var(--link-color);
    border: 2px solid var(--link-color);
    padding: .9rem 0.9rem;
    font-weight: 800;
    border-radius: 20px;
    color: white;
    
}


.about-me .cv a:hover{
    background-color: var(--bg-color);
    color:  var(--text-color);
}

.video-about video{
    width: 420px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0px 8px 20px var(--link-color);
    
}

           /* end about me */
                              /* start My-Work */

.My-Work{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--text-color);

}
.Work {
  font-size: x-large;
  
}
.tips{
    padding: 20px;
    display: flex;
    font-size: 40px;
    
}
.tips p{

    font-family: "Dancing Script", cursive;
    
}
.cards{
    display: flex;
    flex-direction: row;
    margin: 30px 20px;
    
    
}
.card {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--link-color);
    overflow: hidden;
    background-color:  var(--bg-color);
    text-align: center;
    transition: transform 0.2s ease-in-out;
    margin-right: 4rem;

    
  }
  
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: auto;
  }
.card-content {
    padding: 16px;
}
.card-content h2{
    font-size: 1.5em;
    margin: 0;
}
.card-content p {
    color: var(--text-color);
    font-size: 1em;
    margin: 10px 0;
}
.card-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: var(--link-color);
    color: var(--text-color);
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.2s;
  }
  .card-button:hover {
    background-color: var(--link-color);
  }
                /* END My-Work */
                /* Start form-section */
.form-section {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    
}

.form-container h2 {
    color:  var(--link-color);
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    color: #555;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid  var(--text-color);
    border-radius: 4px;
    font-size: 14px;
    color: #333;
    resize: vertical;
}


.form-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--link-color);
    color: var(--text-color);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:hover {
    background-color: var(--link-color);

}    

            /*  form-section */


            /* Start footer  */


footer {
    background-color:  var(--bg-color);
    color:  var(--link-color);
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    
}

.footer-section h3 {
    color: var(--text-color);
    margin-bottom: 15px;
}

.footer-section p, .footer-section ul, .footer-bottom p {
    font-size: 14px;
    color: var(--text-color);

}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color:  var(--text-color);
    
}

.footer-section ul li a:hover {
    color:  var(--link-color);
}
.socials{
    display: flex;
}
.socials img{
  width: 30px;
  height: 30px;
  margin-top: 15px ;
  
}
.socials a {
    margin: 0 10px;   
}

.footer-bottom {
    text-align: center;
    padding: 30px 0;
    font-size: 14px;
    border-top: 1px solid #323131;
    color:  var(--link-color);
}
            /* END footer  */

.cookie-message {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(41, 16, 181);
<<<<<<< HEAD
    color: var(--text-color);
=======
    color: white;
>>>>>>> origin/main
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.cookie-message button {
    background-color: var(--link-color);
    color: var(--text-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.cookie-message button:hover {
    background-color: var(--text-color);
    color: #000000;
}
